<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ART GALLERY</title>

   
      <img src="paint1.jpg" width="400px" height="400px">  

      <img src="paint2.jpg" width="400px" height="400px">         

      <img src="paint3.jpg" width="400px" height="400px">

      <img src="paint4.jpg" width="400px" height="400px">

      <img src="paint5.jpg" width="400px" height="400px">

      <img src="paint6.jpg" width="400px" height="400px">



</head>
<body>

  

  

    <center><h1>PAINTINGS</h1></center>

    <li><a href="/benz_BENZ/index.html";>Back to Index</ahref><a></li>
    
    



</body>
</html>

